*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; }

body {
  grid-area: 1 / 1 / 9 / 9; }

header {
  grid-area: 1 / 1 / 2 / 9;
  display: grid; }

.topEdge {
  grid-area: 1 / 1 / 3 / 9;
  height: 55px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("https://i.imgur.com/OZdhzIA.png") center/cover no-repeat; }

.topEdgeOverlay {
  background: #dbd5c3;
  height: 40px;
  width: 420%;
  margin-left: 0%; }

h1 {
  grid-area: 1 / 1 / 3 / 3;
  height: 40px;
  width: 100%;
  padding-left: 10%;
  vertical-align: middle;
  line-height: 40px;
  color: black;
  background: #dbd5c3;
  mix-blend-mode: lighten;
  font-size: 27px; }
  @media all and (min-width: 1024px) {
    h1 {
      font-size: 27px; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-size: 24px; } }
  @media all and (max-width: 768px) {
    h1 {
      font-size: 24px; } }
  @media all and (max-width: 425px) {
    h1 {
      font-size: 19px;
      padding-left: 6%; } }
  @media all and (max-width: 375px) {
    h1 {
      font-size: 18px;
      padding-right: 6%; } }
  @media all and (max-width: 320px) {
    h1 {
      font-size: 17px;
      padding-left: 6%; } }

h2 {
  grid-area: 1 / 7 / 3 / 9;
  width: 100%;
  height: 40px;
  padding-right: 10%;
  text-align: right;
  vertical-align: middle;
  line-height: 40px;
  color: black;
  background: #dbd5c3;
  mix-blend-mode: lighten; }
  @media all and (min-width: 1024px) {
    h2 {
      font-size: 23px; } }
  @media all and (max-width: 768px) {
    h2 {
      font-size: 18px; } }
  @media all and (max-width: 425px) {
    h2 {
      font-size: 15px;
      padding-right: 4%; } }
  @media all and (max-width: 375px) {
    h2 {
      font-size: 13px;
      padding-right: 4%; } }
  @media all and (max-width: 320px) {
    h2 {
      font-size: 12px;
      padding-right: 4%; } }

.topEdgePanel {
  grid-area: 3 / 1 / 3 / 9;
  background: url("https://i.imgur.com/wVrzZRC.jpg?3");
  background-size: cover;
  width: 100%;
  height: 15px; }

.background {
  grid-area: 3 / 1 / 9 / 9;
  width: 100%;
  height: 620px;
  z-index: -5; }
  @media all and (min-width: 1024px) {
    .background {
      background: url("https://i.imgur.com/k54Jdwu.png") center/cover no-repeat; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .background {
      background: url("https://i.imgur.com/uNifkn2.png") center/cover no-repeat; } }
  @media all and (max-width: 768px) {
    .background {
      background: url("https://i.imgur.com/jsTTTzq.png") center/cover no-repeat; } }
  @media all and (max-width: 425px) {
    .background {
      background: url("https://i.imgur.com/wlAyS6g.png") center/cover no-repeat; } }
  @media all and (max-width: 375px) {
    .background {
      background: url("https://i.imgur.com/wlAyS6g.png") center/cover no-repeat; } }

.backgroundScreen {
  grid-area: 3 / 1 / 9 / 9;
  width: 100%;
  height: 620px;
  z-index: -10; }
  @media all and (min-width: 1024px) {
    .backgroundScreen {
      background: url("https://i.imgur.com/k54Jdwu.png") center/cover no-repeat; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .backgroundScreen {
      background: url("https://i.imgur.com/uNifkn2.png") center/cover no-repeat; } }
  @media all and (max-width: 768px) {
    .backgroundScreen {
      background: url("https://i.imgur.com/jsTTTzq.png") center/cover no-repeat; } }
  @media all and (max-width: 425px) {
    .backgroundScreen {
      background: url("https://i.imgur.com/wlAyS6g.png") center/cover no-repeat; } }
  @media all and (max-width: 375px) {
    .backgroundScreen {
      background: url("https://i.imgur.com/wlAyS6g.png") center/cover no-repeat; } }

/*main {
    display-grid
    grid-area
}
.mainScreen {
    grid-area: 3 / 5 / 7 / 7;
    position: relative;
    width:200px;
    height: 100px;
}*/
aside {
  display: grid;
  grid-area: 5 / 1 / 8 / 4;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: auto;
  height: 600px;
  position: relative; }

#stairsCanvas {
  position: absolute; }

#stairsImg, #stairsImg2 {
  display: none;
  position: relative; }

.photoIdImg {
  grid-area: 2 / 15 / 4 / 30;
  position: relative;
  z-index: 1;
  padding: 6px;
  border-radius: 100%;
  box-shadow: -8px 8px 10px #808080;
  background: url("https://i.imgur.com/uGwgioR.png") center/cover no-repeat; }
  @media all and (min-width: 1024px) {
    .photoIdImg {
      height: 90px;
      width: 90px; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .photoIdImg {
      height: 70px;
      width: 70px; } }
  @media all and (max-width: 768px) {
    .photoIdImg {
      height: 60px;
      width: 60px; } }
  @media all and (max-width: 425px) {
    .photoIdImg {
      height: 50px;
      width: 50px; } }

.photoIdFrame {
  grid-area: 2 / 15 / 4 / 30;
  position: relative;
  z-index: 1;
  justify-content: center;
  height: 90px;
  width: 90px;
  background: url("https://i.imgur.com/ECaBpSU.png?2") center/contain no-repeat; }
  @media all and (min-width: 1024px) {
    .photoIdFrame {
      height: 90px;
      width: 90px; } }
  @media all and (max-width: 1024px) {
    .photoIdFrame {
      height: 70px;
      width: 70px; } }
  @media all and (max-width: 768px) {
    .photoIdFrame {
      height: 60px;
      width: 60px; } }
  @media all and (max-width: 425px) {
    .photoIdFrame {
      height: 50px;
      width: 50px; } }

.plantPhoto {
  margin-top: 337px;
  position: absolute;
  z-index: 5;
  background: url("https://i.imgur.com/nR2Ndn3.png") center/cover no-repeat; }
  @media all and (max-width: 375px) {
    .plantPhoto {
      height: 120px;
      width: 50px; } }
  @media all and (max-width: 425px) {
    .plantPhoto {
      height: 130px;
      width: 60px; } }
  @media all and (max-width: 768px) {
    .plantPhoto {
      height: 270px;
      width: 158px; } }
  @media all and (min-width: 1024px) {
    .plantPhoto {
      height: 270px;
      width: 158px; } }

footer {
  grid-area: 9 / 1 / 9 / 9; }

.bottomEdgePanel {
  background: #dbd5c3;
  width: 100%;
  height: 35px; }

/*# sourceMappingURL=cv.css.map */
