@mixin h2 ($line-h, $v-align, $color, $background, $m-b-m) {
    line-height: $line-h;
    vertical-align: $v-align;
    color: $color;
    background: $background;
    mix-blend-mode: $m-b-m;
}

@mixin skills ($height, $width, $position, $top, $left, $border-radius) {
    height: $height;
    width: $width;
    position: $position;
    top: $top;
    left: $left;
    border-radius: $border-radius;
}

@mixin typed ($top, $left, $margin-r, $font-size) {
    top: $top;
    left: $left; 
    margin-right: $margin-r;
    font-size: $font-size;   
}

@mixin buttons ($z-index, $height, $width, $align-s) {
    z-index: $z-index;
    height: $height;
    width: $width;
    align-self: $align-s;
}

@mixin resumeIcons ($top, $left, $height, $width) {
    top: $top;
    left: $left;
    height: $height;
    width: $width;
}
    
@mixin photoId ($height, $width, $left) {
    width: $width;
    height: $height;
    left: $left;
}

@mixin plants ($height, $width, $top) {
    width: $width;
    height: $height;
    top: $top;
}






    



